body { background: #c72521; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 10px; display: flex; }
.block-search-0 { color: #14ee33; font-size: 18px; margin-bottom: 5px; }
.block-notify-1 { color: #f169b6; font-size: 21px; margin-bottom: 5px; }
.block-database-2 { color: #ca4ddb; font-size: 21px; margin-bottom: 5px; }
.block-sms-3 { color: #264459; font-size: 16px; margin-bottom: 5px; }
.block-logger-4 { color: #1aa4f0; font-size: 21px; margin-bottom: 5px; }